*~
*.o
*.so
*.pyc
*.swp
*.eps
*.png
*.orig
bin
CORE
SOM++
*.csp
unittest
benchmark_results
generated_images

PrimitiveCore.dll
SOM++.dll

SOM.xcodeproj/project.xcworkspace
SOM.xcodeproj/xcuserdata
build/Debug
build/Smalltalk
build/SOM.build
